* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
    /* border: 2px solid black; */
    margin-top: 20px;
    background-color: white;
}

.container h1 {
    width: 20%;
    display: flex;
    color: #6DB083;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 20px;

}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-right: 50px;


}

.flex ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 50px;
    font-size: 1.5rem;
    /* padding-right: 50px; */

}

.hover:hover {
    color: #6DB083;
}

.sub-items {
    width: 150px;
    height: auto;
    border: 2px solid white;
    border-radius: 5px;
    padding: 3px 3px;
    display: none;
    position: absolute;
    z-index: 4;
}

#sub-menu:hover .sub-items {
    display: block;
    color: white;
}

.Dropdownhover:hover {
    color: #6DB083;
}

.bannersection {
    width: 100%;
    height: 400px;
    /* border: 2px solid black; */
    margin-top: 10px;
    background-image: url("https://bootstrapmade.com/content/demo/Green/assets/img/hero-carousel/hero-carousel-3.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;

}

@keyframes translateYtop {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes translateYbottom {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translateY(0px);
    }
}

.bannertext {
    position: absolute;
    background-color: rgba(71, 155, 99, 0.7);
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    color: white;
    font-size: larger;

}

.bannertext h1 {
    margin-top: 70px;
    /* animation: translateYtop 1.5s ease-in; */

}

.bannertext p {
    margin-left: 110px;
    padding-left: 20px;
    /* animation: translateYbottom 1.5s ease-in; */

}

.bannerbtn {
    margin-top: 60px;
    background-color: #6DB083;
    color: white;
    padding: 10px 40px;
    font-size: larger;
    border-radius: 20px;
    border: none;
}


.cardsection {
    width: 85%;
    /* height: 400px; */
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 10px;
    display: flex;

    justify-content: center;
    justify-content: space-evenly;

}

.card {
    width: 22%;
    /* height: 300px; */
    /* border: 2px solid black; */
    margin-top: 10px;
    transition: all .5s;


}

.fa-brands {
    font-size: 3rem;
    color: #6DB083;
    margin-top: 50px;
    margin-left: 20px;

}

.card h3 {
    margin-top: 15px;
    margin-left: 10px;
}

.card p {
    margin-top: 10px;
    margin-left: 10px;
}

.card:hover {
    transform: translateY(-8px);
    color: #6DB083;
}

.portfolio {
    width: 50%;
    /* height: 400px; */
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 20px;
}

.portfolio h2 {
    text-align: center;
    font-weight: lighter;
    text-decoration: underline;
    text-decoration-color: #6DB083;
    font-size: 50px;
}

.portfolio p {
    margin-left: 50px;
    margin-top: 20px;
}

.Aboutussection {
    width: 100%;
    /* height: 500px; */
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;


}

.wrap {
    /* border: 2px solid black; */
    width: 500px;

}



.Aboutussection img {
    margin-left: 10px;
}

.Aboutussection h3 {
    margin-left: 15px;
    font-size: 1.75rem;
}

.Aboutussection p {
    margin-left: 20px;

}

.Aboutussection ol {
    padding: 0px;
    margin-left: 40px;
    margin-top: 10px;
}

#margin {
    margin-top: 20px;
}

.boxsection {
    width: 90%;
    /* height: 600px;  */
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    margin: auto;


}

.box {
    width: 400px;
    height: 200px;
    border: 0.1px solid black;


}

.boxsection h3 {
    color: #6DB083;
    margin-left: 10px;
}

.boxsection h4 {
    margin-left: 10px;
}

.boxsection p {
    margin-left: 10px;
    font-weight: lighter;
}

.icons {
    width: 100%;
    /* height: 200px; */
    border: 2px solid black;
    margin-top: 40px;
    background-color: gray;
    display: flex;
    justify-content: center;
    padding-left: 60px;
    gap: 30px;

}

.bigcardsection {
    width: 100%;
    /* height: 700px; */
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid black; */
    justify-content: space-between;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}

.bigcard {
    width: 350px;
    /* height: 350px; */
    border-radius: 10px;
    /* margin-top: 20px; */
    /* border: 2px solid black; */
    overflow: visible;
}

.product-container {
    /* height: 300px; */
    transition: all .5s;
    box-shadow: 0px 0px 20px rgb(226, 223, 223);

}

.product-container:hover {
    transform: scale(1.03);
    /* background-color: #49def5; */
}

.smallicon {
    width: 60px;
    height: 60px;
    /* border: 2px solid black; */
    border-radius: 50%;
    display: flex;
    justify-content: center;


    margin: 0 auto;

    background-color: #E6FAFD;
    color: aqua;
    align-items: center;
    font-size: 30px;
}

.bigcard h3 {
    margin-left: 40px;
    margin-top: 30px;
}

.bigcard p {
    margin-top: 15px;
    margin-left: 20px;
}

.smallbanner {
    width: 100%;
    height: 300px;
    background-color: #5CB874;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;
}

.smallbanner button {
    width: 200px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    padding: 10px 10px;
    background-color: #5CB874;

}

.portfolio ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.portfolio ul li {
    padding: 10px;
}

.portfoliohover:hover {
    color: #5CB874;
}

.productsection {
    width: 100%;
    /* height: 700px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.productcard {
    width: 350px;
    height: 300px;
    margin-top: 10px;
    /* border: 2px solid black; */
    border-radius: 10px;
    overflow: hidden;

}


.productcard img {
    transition: all 0.5s ease;

}

.overflow {
    height: 230px;
    width: 348px;
    overflow: hidden;

}

.productcard:hover img {
    transform: scale(1.08);
}

.teamsection {
    width: 90%;
    /* height:700px; */
    /* border: 2px solid black; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

}

.teamcard {
    width: 25%;
    /* height: 500px; */
    border: 2px solid black;
    border-radius: 10px;
}

.teamcardtext {
    text-align: center;
    font-weight: lighter;
}

.divcolor {
    background-color: lightgray;
}

.teamcardicon {
    font-size: 20px;
    color: white;
}

.mapformsection {
    width: 90%;
    /* height: 500px; */
    /* border: 2px solid rgb(51, 26, 194); */

    margin: auto;
    display: grid;
    grid-template-columns: 40% 58%;
    gap: 20px;
}

.map {

    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    gap: 15px;
    margin-left: 10px;

}

.maplicon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-color: #E6FAFD;
    color: lightgreen;
    align-items: center;
    font-size: 30px;
    margin-top: 40px;
}

.form-section {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    align-content: start;
    gap: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.inputs {
    height: 70px;
    width: 100%;
}

.inputs input {
    width: 100%;
    border: 1px solid black;
}

.inputs input:hover {
    outline: 1px solid lightgreen;
}

.input1 {
    grid-column: 1/3;
}

.input2 {
    grid-column: 3/5;
}

.input3 {
    grid-column: 1/5;
}

.input4 {
    grid-column: 1/5;
}

textarea {
    width: 100%;
    border: 1px solid black;

}

textarea:hover {
    outline: 1px solid lightgreen;

}

.mapbutton {

    padding: 10px 30px;
    border-radius: 50px;
    background-color: #5CB874;
    color: white;
    font-size: large;
    border: none;
    margin-top: 25px;
    margin-left: 260px;

}


.footer {
    width: 100%;
    /* height: 500px; */
    border: 2px solid black;
    background-color: #060606;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;





}

.green {
    width: 30%;
    height: 300px;
    /* border: 2px solid red; */
    margin-left: 40px;
    margin-top: 50px; 

}

.green h1 {
    color: white;
    margin-top: 20px;
    margin-left: 30px;
}

.green p {
    margin-top: 30px;
    color: white;
    margin-left: 30px;
}

.footericon {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.divfooter {

    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    border: 1px solid white;
    /* border-color:lightblue; */
    justify-content: center;
    color: white;
    align-items: center;
    margin-top: 40px;
}

.fa-brands {
    margin: auto;
    color: white;
}

.list {
    width: 50%;
    height: 300px;
    /* border: 2px solid red; */
    display: flex;
    margin-left: 50px;
    margin-top: 50px;


}

.footerlist {
    width: 200px;
    height: 270px;
    /* border: 1px solid rgb(206, 199, 199); */
    margin: auto;


}